<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>${project.artifactId} ${project.version}</display-name>

  <servlet>
    <servlet-name>View</servlet-name>
    <servlet-class>com.github.davidmoten.websocket.ViewerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>
